{#
/**
 * @file
 * Template personnalisé pour les liens d'action des nœuds avec icônes.
 */
#}
{% if links -%}
  {%- if heading -%}
    {%- if heading.level -%}
      <{{ heading.level }}{{ heading.attributes }}>{{ heading.text }}</{{ heading.level }}>
    {%- else -%}
      <h2{{ heading.attributes }}>{{ heading.text }}</h2>
    {%- endif -%}
  {%- endif -%}
  <ul{{ attributes.addClass('action-links', 'action-links--node') }}>
    {%- for item in links -%}
      {% set link_text = item.text|render|striptags|trim %}
      {% set icon = '' %}
      
      {# Déterminer l'icône selon le texte du lien et l'URL #}
      {% set route_name = '' %}
      {% set link_url = '' %}
      {% if item.link and item.link['#url'] %}
        {% set url_obj = item.link['#url'] %}
        {% if url_obj.getRouteName() %}
          {% set route_name = url_obj.getRouteName() %}
        {% endif %}
        {% set link_url = url_obj.toString() %}
      {% endif %}
      
      {% if 'Voir' in link_text or 'View' in link_text or 'canonical' in route_name or '/node/' in link_url and '/edit' not in link_url and '/delete' not in link_url %}
        {% set icon = '<svg class="action-link-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 3C4.5 3 1.73 5.11 0 8C1.73 10.89 4.5 13 8 13C11.5 13 14.27 10.89 16 8C14.27 5.11 11.5 3 8 3ZM8 11.5C6.07 11.5 4.5 9.93 4.5 8C4.5 6.07 6.07 4.5 8 4.5C9.93 4.5 11.5 6.07 11.5 8C11.5 9.93 9.93 11.5 8 11.5ZM8 6C6.9 6 6 6.9 6 8C6 9.1 6.9 10 8 10C9.1 10 10 9.1 10 8C10 6.9 9.1 6 8 6Z" fill="currentColor"/></svg>' %}
      {% elseif 'Modifier' in link_text or 'Edit' in link_text or 'edit_form' in route_name or '/edit' in link_url %}
        {% set icon = '<svg class="action-link-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5 1.5L14.5 4.5L5.5 13.5H2.5V10.5L11.5 1.5ZM12.5 0.5L14.5 0.5C14.7761 0.5 15 0.723858 15 1V3L13 5L9 1L12.5 0.5ZM8 2L4 6V11.5H9.5L13.5 7.5L8 2Z" fill="currentColor"/></svg>' %}
      {% elseif 'Supprimer' in link_text or 'Delete' in link_text or 'delete_form' in route_name or '/delete' in link_url %}
        {% set icon = '<svg class="action-link-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 1.5C6.22386 1.5 6 1.72386 6 2V3H2.5C2.22386 3 2 3.22386 2 3.5C2 3.77614 2.22386 4 2.5 4H3V13.5C3 14.3284 3.67157 15 4.5 15H11.5C12.3284 15 13 14.3284 13 13.5V4H13.5C13.7761 4 14 3.77614 14 3.5C14 3.22386 13.7761 3 13.5 3H10V2C10 1.72386 9.77614 1.5 9.5 1.5H6.5ZM7 2.5H9V3H7V2.5ZM4 4H12V13.5C12 13.7761 11.7761 14 11.5 14H4.5C4.22386 14 4 13.7761 4 13.5V4ZM6 6V12H7V6H6ZM9 6V12H10V6H9Z" fill="currentColor"/></svg>' %}
      {% elseif 'Versions' in link_text or 'Revisions' in link_text or 'version_history' in route_name or '/revisions' in link_url %}
        {% set icon = '<svg class="action-link-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0C3.58 0 0 3.58 0 8C0 12.42 3.58 16 8 16C12.42 16 16 12.42 16 8C16 3.58 12.42 0 8 0ZM8 14C4.69 14 2 11.31 2 8C2 4.69 4.69 2 8 2C11.31 2 14 4.69 14 8C14 11.31 11.31 14 8 14ZM7.5 4.5L4.5 7.5L7.5 10.5L8.5 9.5L6.5 7.5L8.5 5.5L7.5 4.5ZM8.5 11.5L9.5 10.5L11.5 8.5L9.5 6.5L8.5 5.5L11.5 8.5L8.5 11.5Z" fill="currentColor"/></svg>' %}
      {% endif %}
      
      <li{{ item.attributes.addClass('action-link-item') }}>
        {%- if item.link -%}
          <span class="action-link-wrapper">
            {{ icon|raw }}
            {{ item.link }}
          </span>
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif %}

