{#
/**
 * @file
 * Template personnalisé pour le menu de navigation - Style CNN.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'menu--main') }}>
    {% else %}
      <ul class="menu menu--submenu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
          item.is_active ? 'menu-item--active',
        ]
      %}
      {%
        set is_live = item.title|lower == 'live' or item.url.toString()|lower ends with '/live' or item.url.toString()|lower ends with '/node/11'
      %}
      {% if is_live %}
        {% set classes = classes|merge(['menu-item--live']) %}
      {% endif %}
      <li{{ item.attributes.addClass(classes) }}>
        <a href="{{ item.url }}" class="menu-link">
          {% if is_live %}
            <span class="menu-link-icon menu-link-icon--live">
              <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="#b80000"/>
              </svg>
            </span>
          {% endif %}
          <span class="menu-link-text">{{ item.title }}</span>
        </a>
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

