{#
/**
 * @file
 * Template personnalisé pour le bloc de branding.
 * Affiche uniquement le logo, masque le nom du site.
 */
#}
{% extends "block.html.twig" %}
{% set attributes = attributes.addClass('site-branding') %}

{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="site-branding__logo">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high" />
    </a>
  {% endif %}
  {# Masquer le nom du site (site_name) #}
  {# {% if site_name %}
    <div class="site-branding__text">
      <div class="site-branding__name">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      </div>
    </div>
  {% endif %} #}
{% endblock %}

